In [55]:
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.grid_objs import Grid, Column
plotly.tools.set_credentials_file(username='t2liu', api_key='lTbNwAyxLOCeOxmJCVtX')

In [142]:
df = pd.read_csv('loans_FINAL.csv')

In [143]:
df.head()

,gender_group,loan_amount,status,activity,sector,country_name,year,term_in_months,region,lender_count,month
0,female,125.0,funded,General Store,Retail,Philippines,2014,7.0,Asia,3,1
1,female,400.0,funded,Used Clothing,Clothing,Honduras,2014,8.0,Central America,11,1
2,female,400.0,funded,General Store,Retail,Pakistan,2014,14.0,Asia,16,1
3,female,625.0,funded,Farming,Agriculture,Kyrgyzstan,2014,14.0,Asia,21,1
4,male,425.0,funded,Farming,Agriculture,Philippines,2014,7.0,Asia,15,1

In [144]:
df.year.max()

2017

In [145]:
# male & female only
df2 = df.query('gender_group == "female" or gender_group == "male"')

In [146]:
df2.shape

(864795, 11)

## Grouped Bar Chart

In [147]:
df_female = df2.query('gender_group == "female"')
avg_female = list(df_female.groupby('year')['loan_amount'].mean())

In [148]:
df_male = df2.query('gender_group == "male"')
avg_male = list(df_male.groupby('year')['loan_amount'].mean())

In [149]:
year = list(df2.year.unique())

In [150]:
df2.groupby(['gender_group', 'year'])['loan_amount'].mean()

gender_group  year
female        2012     647.913980
              2013     647.284646
              2014     614.360913
              2015     606.630803
              2016     590.942163
              2017     553.432103
male          2012     914.550101
              2013    1066.486977
              2014     894.906293
              2015     936.848503
              2016     911.790973
              2017     850.197859
Name: loan_amount, dtype: float64

In [151]:
trace1_female = go.Bar(
    x=year,
    y=avg_female,
    name='Female',
    marker=dict(color='rgb(228,26,28)')
)
trace2_male = go.Bar(
    x=year,
    y=avg_male,
    name='Male',
    marker=dict(color='rgb(55,126,184)')
)

data = [trace1_female, trace2_male]
layout = go.Layout(
    barmode='group',
    title='Average Kiva Loan Amounts'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~t2liu/0 or inside your plot.ly account where it is named 'grouped-bar'