In [1]:
import pandas as pd

In [2]:
loans = pd.read_csv('../loans_mini.csv')

In [3]:
loans.head()

   loan_amount       sector country_name  status gender_group
0       1825.0       Retail         Peru  funded  mixed_group
1       2075.0  Agriculture         Peru  funded  mixed_group
2       2575.0       Retail         Peru  funded  mixed_group
3       1500.0     Services    Palestine  funded         male
4       1000.0  Agriculture    Palestine  funded       female

In [4]:
f = loans.groupby('gender_group')
g = loans.groupby(['sector', 'gender_group'])
h = loans.groupby(['gender_group', 'sector'])

In [5]:
f['loan_amount'].mean()

gender_group
female           600.715775
female_group    1668.887230
male             907.032674
male_group      1540.738268
mixed_group     2092.552552
Name: loan_amount, dtype: float64

In [6]:
f['loan_amount'].sum()

gender_group
female          422017850.0
female_group    171549925.0
male            229467475.0
male_group        8076550.0
mixed_group     125230900.0
Name: loan_amount, dtype: float64

In [7]:
loans['gender_group'].value_counts()

female          702525
male            252987
female_group    102793
mixed_group      59846
male_group        5242
Name: gender_group, dtype: int64