In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../FINAL_loans.csv')
df = df[df['gender_group'].isin(['female', 'male'])]

In [6]:
df.head()

,gender_group,loan_amount,status,activity,sector,country_name,year,term_in_months,region
0,female,125.0,funded,General Store,Retail,Philippines,2014,7.0,Asia
1,female,400.0,funded,Used Clothing,Clothing,Honduras,2014,8.0,Central America
2,female,400.0,funded,General Store,Retail,Pakistan,2014,14.0,Asia
3,female,625.0,funded,Farming,Agriculture,Kyrgyzstan,2014,14.0,Asia
4,male,425.0,funded,Farming,Agriculture,Philippines,2014,7.0,Asia

In [3]:
gender_sector = df.groupby(['gender_group', 'sector'])['loan_amount'].mean().reset_index()
gender_sector['p'] = (gender_sector['loan_amount']/gender_sector['loan_amount'].sum()).round(3)
gender_sector.to_csv('../gender_sector.csv')

In [7]:
gender_activity = df.groupby(['gender_group', 'activity'])['loan_amount'].mean().reset_index()
gender_activity['p'] = (gender_activity['loan_amount']/gender_activity['loan_amount'].sum()).round(3)
gender_activity.to_csv('../gender_activity.csv')