In [12]:
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

In [13]:
plotly.tools.set_credentials_file(username='ktollas', api_key='WKzpNqC9jQLu07WmXDtO')

In [2]:
df = pd.read_csv('../FINAL_loans.csv')
df = df[df['gender_group'].isin(['female', 'male'])]

In [6]:
df.head()

,gender_group,loan_amount,status,activity,sector,country_name,year,term_in_months,region
0,female,125.0,funded,General Store,Retail,Philippines,2014,7.0,Asia
1,female,400.0,funded,Used Clothing,Clothing,Honduras,2014,8.0,Central America
2,female,400.0,funded,General Store,Retail,Pakistan,2014,14.0,Asia
3,female,625.0,funded,Farming,Agriculture,Kyrgyzstan,2014,14.0,Asia
4,male,425.0,funded,Farming,Agriculture,Philippines,2014,7.0,Asia

In [3]:
gender_sector = df.groupby(['gender_group', 'sector'])['loan_amount'].mean().reset_index()
gender_sector['p'] = (gender_sector['loan_amount']/gender_sector['loan_amount'].sum()).round(3)
gender_sector.to_csv('../gender_sector.csv')

In [7]:
gender_activity = df.groupby(['gender_group', 'activity'])['loan_amount'].mean().reset_index()
gender_activity['p'] = (gender_activity['loan_amount']/gender_activity['loan_amount'].sum()).round(3)
gender_activity.to_csv('../gender_activity.csv')

In [16]:
region_avg = df.groupby('region')['loan_amount'].mean().reset_index()

In [17]:
region_avg.head()

            region  loan_amount
0           Africa   478.281987
1             Asia   503.220716
2  Central America   699.457126
3   Eastern Europe  1556.299520
4      Middle East  1368.068599

In [20]:
data = [go.Scatterpolar(
  r = region_avg['loan_amount'],
  theta = region_avg['region'],
  fill = 'toself'
)]

layout = go.Layout(
  polar = dict(
    radialaxis = dict(
      visible = True,
      range = [0, region_avg['loan_amount'].max()]
    )
  ),
  showlegend = False
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename = "radar_basic")